@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
.order-summary {
	font-family: 'Secular One', sans-serif;
	height: 10vh;
	 vertical-align: center; 
	
	align-items: center;
	font-size: 1.6rem !important;
	width: 100% !important;
	box-sizing: border-box;

}


@media(max-width:599px){
	.order-summary{
		height:14vh !important;
		font-size: 1.2rem !important;
		box-sizing: border-box;
	}
	.cart-toggler{
		margin:0px !important;
	}
}