@tailwind base;
@tailwind components;
@tailwind utilities;

.zumbotron{
	color: rgb(248, 247, 247);
	text-shadow: 2px 2px 2px #363636 , 0px 2px #363636;
	font-family: 'Poppins', sans-serif !important;
}
/* .working-steps{
	height:25vh !important;
	width: 25%;
	display: flex !important;
	flex-direction: column !important;
	align-items: center;
	justify-content: center;
} */
/* @media(max-width:1000px){
	.working-steps{
		width: 50%;
		
	}
} */